body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  background: #222;
  color: #999;
  padding: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  border-color: #444;
}

blockquote{
  font-style: italic;
  line-height: calc(1rem * 1.5);
  margin-left: 0;
  padding-left: 1rem;
  border-left: 4px solid #444;
}

button{
  margin-right: 0.5rem;
}

.action{
  padding: 0.5rem;
  background-color: #1b1b1b;
  border-radius: 4px;
  content: "";
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.action button{
  font-weight: 800;
  float: right;
}

.votes{
  font-weight: 800;
  color: #EEE;
  text-transform: uppercase;
  font-size: 0.75rem;
}